.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/hero.jpg");
  width: 100%;
  height: 80vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-width {
  width: 100%;
  max-width: 1040px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.hero-body {
  width: 50%;
  color: #fff;
  font-family: CascadiaCode;
}

@media (max-width: 700px) {
  .hero {
    background-position: top;
    height: 140vh;
  }

  .hero-body {
    width: 100%;
    margin-top: 40vh;
    padding: 20px;
  }
}
